* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.link {
  display: grid;
  place-content: center;
  width: 100vw;
  height: 100vh;
}

a {
  border: 1px solid #333;
  padding: 20px;
  color: #333;
  text-decoration: none;
}

.navbar {
  width: 100%;
  margin: 40px;
}

a:hover {
  background-color: #333;
  color: white;
  transition: all .3s ease;
}

.navbar a {
  border: none;
}

.container {
  display: flex;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .container .photo, .container .text {
    width: 100%;
  }

} 

.photo, .text {
  width: 50%;
  padding: 20px;
}

.photo img {
  width: 100%;
}

.text h1,
.text p {
  margin: 10px 0;
}

.copyright {
  font-size: 12px;
  color: gray;
}